{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '/styles/normalize.css'%}">
    <link rel="stylesheet" href="{%static '/styles/changePasswordStyles.css'%}">
    <title>Cambiar contraseña</title>
    <link rel="icon" href="{%static '/images/MiniLogoType.webp'%}" type="image/webp">
    <meta name="description" content="Cambiar contraseña">
    <meta name="author" content="LOG INVENTORY">
    <meta name="robots" content="noindex, nofollow">
</head>
<body>
    <main>
        <h1> 
            Cambiar contraseña
        </h1>
        <form class="change-password__form" method="POST">
            {% csrf_token %}
            {{form}}
            <p class="exception">{{error}}</p>
            <div>
                <label for="password1" class="">Nueva contraseña:</label>
                <input type="password" name = "password1" class="" id="password1" placeholder="Escribe una nueva contraseña" required>
            </div>
            <div>
                <label for="password2" class="">Confirmación de contraseña:</label>
                <input type="password" name = "password2" class="" id="password2" placeholder="Escribe la misma contraseña" required>
            </div>
            <div>
                <input type="submit" value="Cambiar contraseña">
            </div>
        </form>
    </main>
</body>
</html>