{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '/styles/homeStyles.css'%}">
    <link rel="stylesheet" href="{%static '/styles/normalize.css'%}">
    <title>LOG INVENTORY</title>
    <link rel="icon" href="{%static '/images/MiniLogoType.webp'%}" type="image/webp">
    <meta name="description" content="Página principal del software contable LOG INVENTORY">
    <meta name="keywords" content="inventario instituciones,software de inventario online,sistema de inventario para colegios,herramientas de inventario para instituciones académicas">
    <meta name="author" content="LOG INVENTORY">
    <meta name="robots" content="index, follow">
</head>
<body>
    <header class="header">
        <input type="checkbox" id="open-menu" class="header__checkbox">
        <label for="open-menu" class="header__open-nav-button" role="button">=</label>
        <div class="header__logo-container">
            <img class="header__logo" src="{%static '/images/logo.webp'%}" alt="LOG INVENTORY">
        </div>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item"><a href="#start">Inicio</a></li>
                <li class="header__nav-item"><a href="#about">Sobre nosotros</a></li>
                <li class="header__nav-item"><a href="#contact">Contáctanos</a></li>
                <li class="header__nav-item"><a href="{% url 'log_in' 0 %}">¡Empieza!</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="main__overlay"></div>
        <h1 id="start">¿Qué es LOG INVENTORY?</h1>
        <p><strong>LOG INVENTORY</strong> es un software web simple y accesible que permite llevar el inventario de instituciones educativas.</p>
        <ul class="main__list">
            <li class="main__list-item"><h2>- Manejo simple del stock:</h2>
                <p>Modifica intuitivamente el número de existencia de los objetos.</p>
            </li>
            <li class="main__list-item"><h2>- Informes de cambios e historial:</h2>
                <p>Obtén informes en forma de tablas descargables con la información de cambios y fechas.</p>
            </li>
            <li class="main__list-item"><h2>- Personalización de objetos e interfaz:</h2>
                <p>Añade imágenes y descripciones a tus objetos, pon un granito de tu personalidad en cada uno.</p>
            </li>
        </ul>
    </main>
    <div class="division"></div>
    <aside>
        <section id="about" class="info">
            <h2>Sobre nosotros</h2>
            <p class="division__text">Somos un emprendimiento conformado por estudiantes de grado décimo de la I.E. GABO en Cartagok, Valle del cauca. Lo que pretendemos realizar es un software de inventario para ayudar a nuestra y otras instituciones con sus problemas de accesibilidad hacia estos mismos. Cabe aclarar que todavía esta en una versión beta de aplicación, por lo que está en constante cambio y actualización. </p>
        </section>
        <section id="contact" class="contact">
            <h2>Contáctanos</h2>
            <ul class="contact__list">
                <li class="contact__list-item">Email: <a class="email" href="mailto:correo@gmail.com">log.inventory2406@gmail.com</a></li>
                <li class="contact__list-item">Cel: <a href="tel:123456789">+57 3128107264</a></li>
            </ul>
            <p></p>
        </section>
    </aside>
    <footer>
        <p>¡Toma el control de tu inventario con LOG INVENTORY!</p>
    </footer>
    <script src="../static/scripts/homeScript.js"></script>
</body>
</html> 