<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <div class="frame">
        <div class="log_in">
            <h1 class="log_in__title">Log in</h1>
            <form class= "log_in__form" method="POST">
                {% csrf_token %}
                {{ error }}
                {{ form }}
                <input type="submit" value="Log in" class="log_in__input input--button">
            </form>
        </div>
    </div>
</body>
</html>