{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '/styles/logInStyles.css'%}">
    <title>Log In</title>
    <link rel="icon" href="{%static '/images/MiniLogoType.webp'%}" type="image/webp">
    <meta name="description" content="Página inicio de sesión LOG INVENTORY">
    <meta name="keywords" content="iniciar sesión LOG INVENTORY,LOG INVENTORY,cuenta LOG INVENTORY">
    <meta name="author" content="LOG INVENTORY">
    <meta name="robots" content="index, follow">
</head>
<body>
    <div class="frame"> 
        <div class="home__link-container">
            <a href="{% url 'home' %}" class="home__link" id="link">
                <img src="{%static '/images/casa.webp'%}" alt="Home" class="home__link-img">
                <div>Página principal</div>
            </a>
        </div>
        <h1>Iniciar sesión</h1>
        <div class="log_in">
            <form class= "log_in__form" method="POST">
                {% csrf_token %}
                {{ error }}
                {{ form }}
                <input type="submit" value="Log in" class="log_in__input input--button">
                <div class="sign_up__link">¿No tienes una cuenta? <a href="{% url 'sign_up' %}">Crea una!</a></div>
            </form>
        </div>
    </div>
    <script src="../static/scripts/logInScript.js"></script>
</body>
</html>