{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '/styles/normalize.css'%}">
    <link rel="stylesheet" href="{%static '/styles/lostPasswordStyles.css'%}">
    <title>Cambia tu contraseña</title>
    <link rel="icon" href="{%static '/images/MiniLogoType.webp'%}" type="image/webp">
    <meta name="description" content="Formulario para recuperar contraseña">
    <meta name="author" content="LOG INVENTORY">
    <meta name="robots" content="noindex, nofollow">
</head>
<body>
    <header>
        <div class="go-back">   
            <a href="{% url 'log_in' %}" class="log-in__link">
                <img src="{%static '/images/come-back.webp'%}" alt="log-in link image">
                Volver a inicio de sesión
            </a>
        </div>
    </header>
    <main>
        <div class="image__container">
            <img src="{%static '/images/logo.webp'%}" class="logo" alt="Logo">
        </div>
        <form method="POST">
            {% csrf_token %}
            <p class="exception">
                {{error}}
            </p> 
            <p>
                Para recuperar tu contraseña se te enviará un correo con un link al que debes ingresar.
            </p>
            <div>
                <label for="email_id"></label>
                <input type="email"id = 'email_id' name="email" placeholder="Escribe el email asociado a tu cuenta.">
            </div>
            <input type="submit" value="Enviar">
        </form>
    </main>
</body>
</html>