{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '/styles/mainStyles.css'%}">
    <title>Espacio de trabajo</title>
    <link rel="icon" href="{%static '/images/MiniLogoType.webp'%}" type="image/webp">
    <meta name="description" content="Espacio de trbajo LOG INVENTORY">
    <meta name="author" content="LOG INVENTORY">
    <meta name="robots" content="noindex, nofollow">
</head>
<body>
    <header class="header">
        <div class="header__logo-container"></div>
            <img class="header__logo" src="{%static '/images/LogoType.webp'%}" alt="LOG INVENTORY">
        </div>
        <ul class="header__tools">
            <li class="header__tools-create">
                <div class="create">
                    <input type="checkbox" class="create-button" id="create">
                    <label for="create">
                        <img src="../static/images/más.webp" class="más" alt="create">
                    </label> 
                    <div class="create-form">
                        <form class="create_or_modifie_form" method="POST" enctype="multipart/form-data"> 
                            {% csrf_token %}
                            {{is_not_valid}}
                            {{create_or_modifie_form}}
                            <input type="submit" value="Crear objeto">
                            <label for="create" class="close">x</label>
                        </form>
                    </div>
                </div> 
            </li>
        </ul>
        <h1>/(*_*)\</h1>
        <a href="{%url 'log_out'%}" class="log_out">
            <div>Cerrar sesión</div>
            <img class="log_out__image" src="../static/images/log_out.webp" alt="Cerrar sesión">
        </a>
    </header>
    <main class="space-work">
        <div class="space-work__background"></div>
        <section class="space-work__objects">
        {% for object in objects %}
        {% if object.show_object == 1 %}
        <a class="modifie" href="{% url 'object' object.object_id %}">
            <div class="object">
                <div class="overlay"></div>
                <h3>
                    {{object.name}}
                </h3>
                <p class="stock">
                   <span>Cantidad:</span> {{object.stock}} 
                </p>
                <p class="description">
                    {{object.description}}
                </p>
                <img src="media/{{object.image}}" alt="object_image" class="object_image">
            </div>
            {% endif %}    
            {% endfor %}
        </a>
        </section>
    </main>
    
</body>
</html>
