<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>a</title>
</head>
<body>
    <header>
        <div>
            <ul>
                <li>
                    <a href="{% url 'main' %}">Volver al area de trabajo</a>
                </li>
            </ul>
        </div>
    </header>
    <h1>historial</h1>
    {% for instance in record %}
    <div>
        <h2>Objeto: {{instance.object_id.name}}</h2>
        {% if instance.type_transaction_id == 1 %}
        <p>Tipo de transaction: Adición</p>
        {% elif instance.type_transaction_id == 2 %}
        <p>Tipo de transaction: Eliminación</p>
        {% elif instance.type_transaction_id == 4 %}
        <p>Tipo de transaction: Remodelación de objeto</p>
        {% endif %}
        <p>Stock antes: {{instance.stock_before}}</p>
        <p>Stock después: {{instance.stock_after}}</p>
    </div> 
    {% endfor %}
</body> 
</html> 