{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '/styles/signUpStyles.css'%}">
    <title>Crear cuenta</title>
    <link rel="icon" href="{%static '/images/MiniLogoType.webp'%}" type="image/webp">
    <meta name="description" content="Crear cuenta en LOG INVENTORY">
    <meta name="keywords" content="LOG INVENTORY,cuenta,crear">
    <meta name="author" content="LOG INVENTORY">
    <meta name="robots" content="index, follow"> 
</head>
<body>
    <main>
        <div class="frame">
            <h1>Registrate!</h1>
            <div class="sign_up">
                <form method="POST" class="sign_up__form">
                    {% csrf_token %}
                    {{error}}
                    {{form}}
                    <input type="submit" value="Sign up" class="sign_up__button">
                </form>
            </div>
        </div>
    </main>
</body>
</html>