__pychache__/
Log_Invertory/__pycache__/__init__.cpython-312.pyc

Log_Invertory/__pycache__/settings.cpython-312.pyc
Log_Invertory/__pycache__/urls.cpython-312.pyc
Log_Invertory/__pycache__/wsgi.cpython-312.pyc
Objects/__pycache__/__init__.cpython-312.pyc
Objects/__pycache__/admin.cpython-312.pyc
Objects/__pycache__/apps.cpython-312.pyc
Objects/__pycache__/models.cpython-312.pyc
Objects/migrations/__pycache__/__init__.cpython-312.pyc
Users/__pycache__/__init__.cpython-312.pyc
Users/__pycache__/admin.cpython-312.pyc
Users/__pycache__/apps.cpython-312.pyc
Users/__pycache__/models.cpython-312.pyc
Users/__pycache__/urls.cpython-312.pyc
Users/__pycache__/views.cpython-312.pyc
Users/migrations/__pycache__/__init__.cpython-312.pyc
