* {
    box-sizing: border-box;
}

body{
    display: grid;
    place-content: center;
    height: 100vh;
    font-family: "Montserrat";
    background-color: #e2eaff;
    color: #101632dd;
}

body, div, label {
    margin: 0;
    padding: 0;
}

main {
    width: 45vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: none;
    background-image: radial-gradient(#18233f44, #18233f11);
    padding: 2vw;
    border-radius: 12px;
    box-shadow: 0px 0px 40px #0006;
}

h1 {
    margin: 0;
    margin-bottom: 2.5vh;
    font-size: 3rem;
}

.change-password__form {
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.exception {
    position: absolute;
    color: #f00;
    bottom: -1vh;
}

input:focus {
    outline: none;
    outline: 1px #48e solid;
}

label {
    font-size: 1.5rem;
    font-weight: bold;
}

input {
    margin-top: 2vh;
    margin-bottom: 3vh;
    display: block;
    width: 100%;
    padding: 7px 6px;
    font-family: "Montserrat";
    font-size: 16px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #0003;
}

input[type="submit"] {
    position: relative;
    bottom: 2vh;
    margin: none;
    background-color: #48e;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    width: 100%;   
    cursor: pointer;
}