* {
    box-sizing: border-box;
}

body { 
    font-family: "Montserrat";
    background-color: #fff;
    color: #101632dd;
    margin-top: 0;
    overflow: hidden;
}

/*---HEADER---*/
.go-back {
    position: absolute;
    top: 3vh;
    left: 2.5vw;
    transition: filter .2s;
}

.log-in__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    color: inherit;
}

.go-back:hover {
    filter: drop-shadow(0 4px 8px #000);
}

.log-in__link > img {
    height: 3vh;
}


/*---main---*/
main {
    height: 100vh;
    display: grid;
    justify-items: center;
}

.image__container {
    position: relative;
    top: 14vh;
    width: 45vw;
    height: 38vh;
}

.logo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    
}

form {
    position: relative;
    top: 3vh;
    width: 35vw;
    height: 27vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: none;
    background-image: radial-gradient(#18233f44, #18233f11);
    padding: 2vw;
    border-radius: 12px;
    box-shadow: 0px 0px 40px #0006;
}

p {
    margin: 0;
    margin-bottom: 2vh;
}

.exception {
    color: #f00;
    position: absolute;
    bottom: -1vh;
    left: 2vw;
}

form > div {
    width: 100%;
    margin: 0;
    margin-bottom: 2.5vh;
}

input:focus {
    outline: none;
    outline: 1px #48e solid;
}

label {
    font-size: 1.5rem;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    padding: 7px 6px;
    font-family: "Montserrat";
    font-size: 16px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #0003;
}

input[type="submit"] {
    margin: none;
    background-color: #48e;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    width: 100%;   
    cursor: pointer;
}

