* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: "Montserrat";
    background-color: #fff;
    color: #070b1add;
    height: 100vh;
    overflow-x: hidden;
}

body, div, ul, nav, header, footer, a, li, label {
    margin: 0;
    padding: 0;
}

/*---HEADER---*/

.header {
    position: sticky;
    top: 0;
    height: 12vh;
    width: 100vw;
    background-color: #fff;
    position: sticky;
    top: 0px;
    z-index: 50;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__tools {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: 
    "work-space record space space log-out";
}

.work-space {
    grid-area: work-space;
    padding-left: 10px;
}

.work-space__link {
    width: fit-content;
    display: flex;
}

.work-space__link:hover {
    filter: drop-shadow(0 4px 8px #48e);
}

.work-space-img {
    height: 50px;
}

.work-space__link > div {
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: .9rem;
    color: #000;
}

.header__tools-record {
    grid-area: record;
    display: grid;
    justify-items: start;
    align-items: center;
    list-style: none;
}

.header__tools-record_link > img {
    height: 8vh;
}

.log_out {
    grid-area: log-out;
    display: flex;
    justify-content: end;
    padding-right: 30px;
    list-style: none;
}

.log_out-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #48e;
    transition: filter .2s;
}

.log_out__image {
    height: 10vh;
    margin-left: 1vw;
}

.log_out-link:hover {
    filter: drop-shadow(4px 4px 6px #48e);
}

/*---MAIN---*/

main {
    margin-top: 10vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 45vw 50vw;
    grid-template-rows: 100vh;
    grid-template-areas: 
    "image description";
}

.object__img-container {
    grid-area: image;
    height: 70vh;
    width: 40vw;
    padding: 20px;
}

.object__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}


.object__description {
    grid-area: description;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    font-size: 16px;
    border: none;
    background-image: radial-gradient(#18233f44, #18233f11);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 40px #0006;
}

div:has(textarea) {
    display: flex;
    flex-direction: column;
}

#image-clear_id ~ label {
    display: none;
}

#image-clear_id {
    display: none;
}

input:focus {
    outline: none;
    outline: 1px #48e solid;
}

label {
    font-size: 1.5rem;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    padding: 7px 6px;
    font-family: "Montserrat";
    font-size: 16px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #0003;
}

.object__description-form > input[type="submit"] {
    margin: none;
    background-color: #48e;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    width: 100%;   
}

input[type="submit"]:hover {
    cursor: pointer;
}

.object__record {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vh;
}

.transaction {
    width: 95vw;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: 
    "type type before after date date button";
    justify-content: space-evenly;
    align-items: center;
    border: 2px #fff solid;
    background-color: #48e;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 3vh;
    padding: 0 2.5vw;
}

.transaction > p, .transaction > input, .transaction > h2 {
    place-self: center;
}

.transaction-type {
    grid-area: type;
}

.stock-before {
    grid-area: before;
}

.stock-after {
    grid-area: after;
}

.time {
    grid-area: date;
}

.go-back__button {
    grid-area: button;
    font-family: "Montserrat";
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #fff;
    color: #000;
    transition: background-color .2s, color .2s;
}

.go-back__button:hover {
    cursor: pointer;
    background-color: #a18262;
    color: #fff;
    box-shadow: 0 4px 8px #dcd9df, 0 6px 20px #fff;
}

.go-back__button-disabled {
    opacity: .5;
    grid-area: button;
    font-family: "Montserrat";
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #fff;
    color: #000;
    transition: background-color .2s, color .2s;
}

.hidden {
    display: none;
}