* {
    box-sizing: border-box;
}

body{
    font-family: "Montserrat";
    background-color: #e2eaff;
    color: #101632dd;
}

body, div, ul, li, label {
    margin: 0;
    padding: 0;
}


main {
    height: 100vh;
    width: 100%;
}

.frame {
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
    container-type: inline-size;
    container-name: frame;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
}

.sign_up {
    width: 45vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    font-size: 16px;
    border: none;
    background-image: radial-gradient(#18233f44, #18233f11);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 40px #0006;
}

.sign_up__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

input:focus{
    outline: none;
    outline: 1px #48e solid;
}

label {
    font-size: 1.5rem;
    font-weight: bold;
}

ul {
    list-style:decimal;
}

input {
    margin-top: 2vh;
    margin-bottom: 3vh;
    display: block;
    width: 100%;
    padding: 7px 6px;
    font-family: "Montserrat";
    font-size: 16px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #0003;
}

input[type="submit"] {
    margin: none;
    background-color: #48e;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    width: 100%;
}

input[type="submit"]:hover {
    cursor: pointer;
}

#id_password1_helptext {
    display: none;
}

#id_username_helptext {
    display: none;
}

.home__link > div {
    position: absolute;
    left: 60px;
    top: 40px;
    font-size: .9rem;
    color: #000;
}

.home__link-img {
    height: 50px;
    position: absolute;
    left: 10px;
    top: 10px;
}

div a {
    text-decoration: none;
    color: #0000FF;
}

div a:visited {
    color: #0000FF;
}

/*---QUERIES---*/

@CONTAINER frame (max-width: 1024px) {

    .sign_up {
        width: 90vw;
    }

    #id_password2_helptext {
        display: none;
    }
}

@CONTAINER frame (max-width: 450px) {    
    .home__link> div {
        position: absolute;
        left: 50px;
        top: 30px;
        font-size: .9rem;
        color: #000;
}

    .home__link-img {
        height: 40px;
    }
}